@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal
@model BlogCore.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Inicio";
}

<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-white bg-secondary py-1">Ultimos Cursos y Tutoriales</h1>
    </div>
</div>

@if (Model.ListaArticulos.Count() > 0)
{
    <hr/>
    <div class="row">
        @foreach (var articulo in Model.ListaArticulos.OrderBy(o => o.Id))
        {
            <div class="col-4  d-flex align-items-center justify-content-center">
                <div class="card mb-4" style="width: fit-content">
                    <img src="@articulo.UrlImagen"
                         alt="articulo imagen"
                         class="img-thumbnail"
                         width="100%"
                         style="max-height: 400px; object-fit: contain;"/>
                    <div class="card-body">
                        <h5 class="text-center">@articulo.Nombre</h5>
                        <a asp-action="Detalle" class="btn btn-success" style="border-radius: 10px" asp-route-id="@articulo.Id">
                            Mas informacion
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
