@model BlogCore.Models.Categoria

@{
    ViewData["Title"] = "Editar Categoria";
}
<br/>
<br/>
<h3 class="text-center">Actualizar categoria</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Orden"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Orden" class="form-control" placeholder="Ingresa el Orden">
                    <span asp-validation-for="Orden" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Actualizar</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Volver atras</a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</form>

@* Creamos la validacion del lado del cliente *@
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
