@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Bloqueada";
}

<header>
    <div class="text-center">
        <img src="~/imagenes/ic_unauthorized.png" alt="lock image" class="img-fluid" width="150">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Esta cuenta ha sido bloqueada, intentelo de nuevo mas tarde</p>
    </div>
</header>
